.form-horizontal .control-label {
  width: 150px;
}
.form-horizontal .controls {
  margin-left: 170px;
}

#header-search-form{
  .input-medium{
    padding-right: 25px;
  }
  i{
    position: relative;
    left: -25px;
    opacity: 0.6;
    cursor: pointer;
  }
}