- @index = 0 if @index.nil?
- @pointers.each_with_index do |elem, index|
  -#%li
    %a{"href" => "#"}
      = elem.full_desc


  %div{"data-role" => "collapsible"}
    %h3
      = elem.description
    %p
      = elem.full_desc
    %a{"data-role"=>"button", "href"=>"#", "data-icon"=>"star", "data-iconpos"=>"right"}
      Show on map

