.row
  .list-widget
    .list-head
      %h3
        10 Last added places
    %ul
      - @last_points.each do |point|
        %li
          %i.fav{:style => "background-image:url('https://www.google.com/s2/u/0/favicons?domain=www.lukew.com');"}
          %div
            %a{:href => "#{show_pointer_on_map_path(point.id)}"}
              = point.description

      %li
        %a.list-view{:href => "/list"} View all

  .list-widget
    .list-head
      %h3
        10 Most popular places
    %ul
      - @top_points.each do |point|
        %li
          %i.fav{:style => "background-image:url('https://www.google.com/s2/u/0/favicons?domain=www.lukew.com');"}
          %div
            %a{:href => "#{show_pointer_on_map_path(point.id)}"}
              = point.description

      %li
        %a.list-view{:href => "/list"} View all

.row
  #footer{:style => "text-align: center;"}
    %p
      All data are taken from
      %a{:href => "http://poi.uzhgorod.ua/"}
        poi.uzhgorod.ua
    %p
      © 2014
      %a{:href => 'https://github.com/slaw-ik'} Miroslav Nastenko
