// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map_section img{
  height: auto;
  width: auto;
  max-width: none;
  vertical-align: inherit;
}