// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map_section img {
  height: auto;
  width: auto;
  max-width: none;
  vertical-align: inherit;
}

.results {
  float: left;
  margin-top: 5px;
}

.search_form {
  float: right;
}

.map_section {
  clear: both;
}

.gmaps4rails_map {
  width: 100%;
  height: 700px;
}

.map_container {
  width: 100%;
}

.list-widget {
  width: 42%;
  float: left;
  margin: 2%;
}

.list-widget {
  //width: 380px;
  border: 1px solid #DDD;
  border-radius: 3px;
  padding: 15px;
  position: relative;
  border-top: 1px solid #EEE;
  background: white;
}

.list-widget h3 {
  font-weight: normal;
  color: #DD390D;
}

.list-widget ul {
  list-style: none;
  margin: 15px -15px 0;
  padding: 0px 10px;
  position: relative;
}

.list-widget ul::before {
  -webkit-box-shadow: inset 0 16px 8px -20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 15px 8px -20px rgba(0, 0, 0, 0.4);
  -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 100%);
  -moz-mask-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 100%);
  height: 5px;
  width: 100%;
  position: relative;
  content: '';
  top: -2px;
  left: 0;
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.list-widget li {
  height: 20px;
  overflow: hidden;
}

.list-widget ul li {
  margin: 10px 10px;
  font-size: 14px;
  height: 20px;
  overflow: hidden;
}

.tabbable{
  background-color: #ffffff;
  position: fixed;
  top: 75px;
  left: -300px;
  border: 1px solid #DDD;
  padding: 5px;
  border-radius: 4px;
  width: 300px;
  z-index: 999;
  .tab-content{
    margin-left: 20px;
  }
  .hide-arrow{
    width: 10px;
    vertical-align: middle;
    float: left;
    height: 350px;
    padding-top: 340px;
    background-color: #d3d3d3;
    border-radius: 5px 0;
    padding-left: 2px;
    cursor: pointer;
  }
  ul{
    margin-right: -105px;
    margin-bottom: 0;
    li{
      background-color: lightGoldenrodYellow;
      border-radius: 5px;
    }
  }
}