<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Places of Transcarpathia</title>
  <%= Gon::Base.render_data %>
</head>

<body>
<div id="app"></div>
</body>

<%= javascript_pack_tag 'application' %>
<%= stylesheet_pack_tag 'application' %>

</html>